body {
  margin: 0;
  display: flex;
  justify-content: center;
}
.content {
  position: absolute;
  top: 0;
  max-width: 960px;
  width: 100%;
}
.start {
  height: 100vh;
  color: #444;
  font-family: 'Anton', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.start>div {
  padding: 0 10px;
}
.start-left {
  font-size: 84px;
  width: 250px;
  line-height: .9em;
  text-align: right;
}
.start-right {
  max-width: 670px;
}
.menu {
  font-size: 24px;
  line-height: 1em;
  white-space: nowrap;
}
a {
  color: #444;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.links {
  font-size: 24px;
  letter-spacing: 3px;
  margin: 5px 0;
}
.welcome {
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
.welcome>span {
  color: darkorange;
}

.main {
  font-family: 'Raleway', sans-serif;
}
.main a {
  color: #000;
  border-bottom: 1px dashed #000;
  text-decoration: none;
}
.main a:hover {
  border-bottom: 1px solid #000;
}
.section-title {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 36px;
  margin: 10px auto;
  color: #444;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about>div {
  padding: 0 10px;
}
.about-left img {
  width: 250px;
  margin: 20px 0 0 0;
}
.about-right {
  max-width: 670px;
}
.portfolio {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 10px;
}
.portfolio .title {
  font-size: 28px;
  color: darkorange;
  font-weight: 300;
  text-align: center;
  margin-top: 40px;
}
.portfolio .subtitle {
  text-align: center;
  color: #888;
  margin: 10px auto;
}
.portfolio .images {
  text-align: center;
}
.portfolio .images>img {
  max-width: 100%;
}
.portfolio .images>img.sm {
  width: 100px;
}